
.format{
	text-align: center;
	overflow: hidden;
	font-size: 18px;
	font-family: sans-serif;
	text-shadow: 1px 1px 1px #BBBBBB;
	font-weight: 900;

}

.format-justify{
	text-align: justify;
	overflow: hidden;
	font-size: 14px;
	font-family: sans-serif;
	
}
p{
	text-align: center;
	-webkit-text-stroke: 0.1px #000;
	
	padding-left: 5%;
	padding-right: 5%;
}
.column {
	border:1px 1px solid black;
}

.red{
color: red;
}
.green{
	color: darkgreen;
}